html, body {
    background-image: url('http://i65.tinypic.com/2epm4h5.jpg');
    background-repeat: none;
    background-size: cover;
}

.card {
    opacity: 0.9;
    width: 80%;
    margin: 0 auto;
    margin-top: 17%;
    border: 0;
}

.card-body{
    background: #e4d2ba;
    border: 0;
}

.container {
    font-family: 'Special Elite', cursive;
}

.row1 {
    float: right;
}
.row2 {
    margin: 30px;
}


.results {
    text-align: center;
}



  .neon-circle {
    -moz-box-shadow: 0px 0px 0px 8px rgba(254,208,40,1), 0px 0px 8px 10px rgba(240,19,11,1), inset 0px 0px 8px 4px rgba(240,19,11,1), 0px 0px 98px 8px rgba(250,29,22,1), inset 0px 0px 98px 8px rgba(250,29,22,1);
    -webkit-box-shadow: 0px 0px 0px 8px rgba(254,208,40,1), 0px 0px 8px 10px rgba(240,19,11,1), inset 0px 0px 8px 4px rgba(240,19,11,1), 0px 0px 98px 8px rgba(250,29,22,1), inset 0px 0px 98px 8px rgba(250,29,22,1);
    -webkit-transform: matrix3d(0.77,0,-0.64,-.001,0.00,1,0.00,0,0.64,0,0.77,0,0,0,0,1);
    /* background: ; */
    border-radius: 10vw;
    box-shadow: 0px 0px 0px 8px rgba(254,208,40,1), 0px 0px 8px 10px rgba(240,19,11,1), inset 0px 0px 8px 4px rgba(240,19,11,1), 0px 0px 98px 8px rgba(250,29,22,1), inset 0px 0px 98px 8px rgba(250,29,22,1);
    height: 17vw;
    margin-left: 6vw;
    margin-right: -5vw;
    transform: matrix3d(0.77,0,-0.64,-.001,0.00,1,0.00,0,0.64,0,0.77,0,0,0,0,1);
    width: 20vw;
  }


.sign-one {
    animation:blinkingText 0.8s infinite;
    padding-top: 5.5vw;
    /* padding-right: 4vw; */
    padding-left: 2vw;
    /* font-family: arial; */
    font-size: 3.2vw;
    letter-spacing: 6px;
    /* line-height: 4vw; */
    /* padding-top:; */
    text-shadow: 
    .1vw 0vw .25vw #28D7FE, .2vw 0vw .25vw #28D7FE, .4vw 0vw .25vw #28D7FE, 
    .1vw 0vw .1vw #1041FF, .2vw 0vw 0vw #1041FF, .4vw 0vw 0vw #1041FF,
    .1vw 0vw .1vw #1041FF, .2vw 0vw .1vw #1041FF, .4vw 0vw 0vw #1041FF,
    .1vw 0vw .8vw #1041FF, .2vw 0vw .8vw #1041FF, .4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
    .1vw 0vw .5vw #1041FF, .2vw 0vw .5vw #1041FF, .4vw 0vw .5vw #1041FF, 
    .1vw 0vw 10vw #1041FF, .2vw 0vw 10vw #1041FF, .4vw 0vw 10vw #1041FF;
    color: #28D7FE;
  }

  @keyframes blinkingText{
    0%{     color: #black;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #black;    }
}
