html, body {
    /* background-color: white; */
    background-image: url('http://i65.tinypic.com/2epm4h5.jpg');
    background-repeat: none;
    background-size: cover;
}

.card {
    opacity: 0.9;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.container {
    font-family: 'Satisfy', cursive;
}

.wizard-dancing {
    padding-top: 20px;
    padding-right: 40px;
}

.row1 {
    float: right;
}
.row2 {
    margin: 30px;
    padding: 100px;
}


.results {
    text-align: center;
}

